<div >
    <h4 >Login</h4>
    <div >
        <div >
            <div >
                <label >Username</label>
                <input type="text" formControlName="username"  
              
                />
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            <div  >
                <label >Password</label>
                <input type="password" formControlName="password"  
               
                />
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div> -->
            </div>
            <div  >
                <button  class="btn btn-primary" (click)="logIn()">
                    <span  class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
            </div>
        </div>
    </div>
</div>
